.listContainer{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    width: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    overflow: auto;
}
.button{
    margin-top: 5px;
    width: 200px;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: Secular One, sans-serif;
    font-weight: 600;
    color: #202020;
}